<div>
    <div class="row shadow p-3 mb-5 bg-white rounded" style="width: 80%; margin-left: 50px; margin-top: 10px;">
        <div class="col-2">
            <div hidden><%- reportList[i].get("repostPostId") %></div>
            <h5>Posted by <%- repostList[i].get("username")%></h5>
            <p><%-repostList[i].get("createdAt")%></p>
            <br>
            <h5>Flagged by <%-reportList[i].get("flagger")%></h5>
            <p><%-reportList[i].get("createdAt")%></p>
        </div>
        <div class="col-6">
            <img src="<%- repostList[i].get("postContent") %>" style="height: 100%; max-width: 100%">
        </div>
        <div class="col-3">
            <div class="card text-center">
                <img src="<%- originalList[i].get("postContent") %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">OC info</h5>
                    <p class="card-text">
                        Posted on <%-originalList[i].get("createdAt")%>
                        By <%-originalList[i].get("username")%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1">
            <a onclick="judgereport(this, true)"><img src="/images/icons/circle-check.svg" style="height: 64px; margin: 10px; filter: invert(19%) sepia(92%) saturate(6727%) hue-rotate(128deg) brightness(98%) contrast(103%);"></a>
            <a onclick="judgereport(this, false)"><img src="/images/icons/circle-x.svg" style="height: 64px; margin: 10px; filter: invert(23%) sepia(93%) saturate(7396%) hue-rotate(358deg) brightness(104%) contrast(114%);"></a>
        </div>
    </div>
</div>
<script src="./javascripts/judgereport.js"></script>
